/* Hecho: colores, box model, display, medidas, position, fuentes */
/* Selector universal */
* {
    box-sizing: border-box; /* Asegura que el padding y el border se incluyan en el ancho y alto total */
}


/* Encabezado */
header {
    position: sticky; /* Fija el encabezado en la parte superior */
    top: 0; /* Coloca el encabezado en la parte superior */
    background-color: #1B2432; /* Color de fondo del encabezado */
    padding: 15px; /* Espaciado interno */
    display: flex; /* Uso de flexbox para alinear elementos */
    justify-content: space-around; /* Espacia los elementos del encabezado */
    align-items: center; /* Alinea verticalmente los elementos */
    z-index: 1000; /* Asegura que el encabezado esté por encima de otros elementos */
}


/* Logo */
.logo img {
    width: 250px; /* Ajusta el tamaño según lo necesites */
    height: auto; /* Mantiene la proporción de la imagen */
    vertical-align: middle; /* Alinea la imagen verticalmente */
}

/* Navegación */
nav ul {
    list-style-type: none; /* Elimina el estilo de lista */
    margin: 0; /* Elimina el margen */
    padding: 0; /* Elimina el padding */
    display:flex; /* Usa flexbox para el menú */
    gap: 20px; /* Espacio entre los elementos */
}

nav ul li a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: #846267; /* Color de los enlaces */
    padding: 10px; /* Añade espaciado interno a los enlaces */
}

/* Iconos */
.icons a {
    margin-left: 15px; /* Espaciado entre iconos */
}
.icons a {
    margin-left: 15px; /* Espaciado entre iconos */
    color: #846267; /* Color de los iconos (puedes cambiarlo a lo que prefieras) */
    font-size: 20px; /* Tamaño de los iconos, ajusta según necesites */
}

.icons a:hover {
    color: #EAE1D9; /* Color al pasar el cursor sobre los iconos */
}
.contenido-texto{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    color: #212321;
    padding: 20px;
    background-color: rgba(256, 256, 256, 0.8); /* Fondo semitransparente */
}
/* Sección de Bienvenida */
#Título {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 15px; /* Añade separación entre el título y el texto */
    line-height: 1.2; /* Ajusta el espacio entre líneas */
}

#Explicacion {
  font-size: 1.2rem;
  margin-top: 20px;
  max-width: 800px;
}

/* Ajustes para reducir el tamaño del texto si excede el espacio */
.contenido-texto p {
  font-size: calc(1.2rem + 0.5vw); /* Ajusta el tamaño de la fuente según el ancho de la ventana */
  line-height: 1.5;
}

/* Contenedor del Botón */
.contenedor-boton {
    text-align: center; /* Centra el contenedor del botón */
    margin-top: 30px; /* Espaciado superior */
}

/* Botón */
.boton {
    display: inline-block; /* Hace que el botón ocupe solo el ancho del contenido */
    padding: 10px 20px; /* Espaciado interno del botón */
    background-color: #A8C8E6; /* Color de fondo del botón */
    color: #212321; /* Color del texto del botón */
    text-decoration: none; /* Elimina el subrayado */
    border-radius: 5px; /* Bordes redondeados */
    transition: transform 0.2s; /* Transición suave para el efecto hover */
}

/* Efecto al pasar el cursor sobre el botón */
.boton:hover {
    transform: scale(1.05); /* Aumenta el tamaño del botón al pasar el cursor */
}

/* Carrusel de imágenes */
.carousel-item img {
    width: 700px;  /* Ancho fijo */
    height: 700px; /* Alto fijo */
    object-fit: contain; /* Asegura que la imagen no se recorte */
    margin: 0 auto;
}


/*Bef: Parallax*/
*, 
*::before,
*::after
{
  box-sizing: border-box;
}

*
{
  margin: 0;
  padding: 0;
}

main 
{
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}

section 
{
  transform-style: preserve-3d;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #846267;
}

section h1
{
  text-align: center;
  font-size: 4rem;
  font-family: sans-serif;
}

.no-parallax 
{
  background-color: #EAE1D9;
  z-index: 999;
}

.parallax h1 
{
  width: 60%;
  font-size: 2rem;
}

.parallax::after 
{
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
}

.bg::after 
{
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("./assets/panel.jpg");
  background-size: cover;
}
.bg1::after 
{
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("./assets/termopanel.jpg");
  background-size: cover;
}
.bg2::after 
{
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("./assets/led.jpg");
  background-size: cover;
}

@media screen and (min-width: 768px) 
{
  section h1 
  {
    font-size: 8rem;
  }
  
  .parallax h1 
  {
    font-size: 4rem;
  }
}

/*Tecnologias*/

/* Estilos generales */
/* Contenedor general */
.container-scroll {
  position: relative;
  flex-direction: column;
  min-height: 100vh;  /* Asegura que siempre ocupe al menos la altura del viewport */
  padding-bottom: 150px; /* Añade espacio al final para el footer */
  box-sizing: border-box; /* Asegura que el padding esté incluido en el tamaño */
  justify-content: space-between;
}

/* Estilos de la sección */
.section-scroll {
  font-family: 'Helvetica', sans-serif;
  font-weight: 200;
  font-size: 2.5rem;
  min-height: 100vh; /* Asegura que la sección ocupe al menos la altura del viewport */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #846267;
  margin-bottom: 20px;
  padding: 20px; /* Añade un poco de padding para evitar que el contenido toque los bordes */
  box-sizing: border-box;
  overflow: visible; /* Asegura que no haya corte de contenido */
  height: auto;
}

/* Sección violeta */
#sectionPin-scroll {
  background-color: #EAE1D9;
  padding: 50px 0;
  overflow-x: hidden; /* Oculta cualquier desbordamiento horizontal no deseado */
  min-height: 100vh; /* Asegura que la sección ocupe al menos la altura del viewport */
}

/* Envoltura para el scroll */
.pin-wrap-scroll {
  height: auto; /* Permite que el contenido crezca dinámicamente */
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  color: #212321;
  width: calc(100vw * 3); /* Ajusta para 3 imágenes */
  white-space: nowrap;
  padding: 0; /* Elimina padding */
  box-sizing: border-box; /* Asegura que todo se respete dentro del tamaño del contenedor */
}

/* Estilo para las imágenes */
.scroll-image {
  display: inline-block;
  max-width: 100%;
  width: 50vw; /* Mantiene el tamaño original de las imágenes */
  height: 70vh; /* Ajusta la altura en función de la ventana para centrar */
  object-fit: cover;
  border-radius: 10px;
  margin-right: 180px; /* Mantiene espacio entre imágenes */
}

/* Caja de texto */
.text-box {
  font-family: 'Helvetica', sans-serif;
  display: inline-block;
  width: 80%; /* Ajusta el tamaño de la caja de texto */
  padding-right: 50px; /* Añade espacio a la derecha del texto */
  font-size: 2.5rem; /* Ajusta el tamaño de la fuente */
  line-height: 1.8; /* Mejora la legibilidad */
  white-space: normal; /* Permite que el texto ocupe múltiples líneas */
  word-wrap: break-word; /* Permite que las palabras largas se rompan y no desborden el contenedor */
  overflow-wrap: break-word; /* Lo mismo que word-wrap, para navegadores modernos */
  max-width: 800px; /* Limita el ancho del texto a una caja de 800px */
  height: auto; /* Permite que el texto ocupe varias líneas */
}


/*Pie de pagina*/
footer {
  background-color: #1B2432; /* Color de fondo */
  color: #846267; /* Color de texto*/
  padding: 20px;
  text-align: center;
  width: 100%;
  min-height: 120px; /* Asegura que tenga una altura mínima */
  box-sizing: border-box;
  position: relative; /* Asegura que sea parte del flujo de la página */
  bottom: 0; /* Asegura que se quede al final */

}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

footer a {
  color: #EAE1D9;
  text-decoration: none;
  margin: 0 15px;
}

footer .social-icons {
  margin: 20px 0;
}

footer .social-icons a {
  margin: 0 10px;
  color: #846267;
}

footer .payment-methods img {
  width: 200px;
  margin: 1 10px;
  vertical-align: middle;
}


/*Carrito*/
/* Estilo del menú desplegable del carrito */
.cart-container {
  position: relative;
  display: inline-block;
}

.cart-dropdown {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #EAE1D9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 200px;
  z-index: 1;
}

.cart-dropdown h3 {
  margin-top: 0;
  color: #846267;
  font-size: 1.2rem;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.cart-item .product-name {
  cursor: pointer;
  color: #1B2432;
  text-decoration: underline;
}

.cart-button {
  background: none;
  border: none;
  cursor: pointer;
}

/* Mostrar el menú desplegable cuando esté activo */
.cart-container.active .cart-dropdown {
  display: block;
}